<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='icon.png') }}">
    <title>Reconocimiento de Emociones en la Enseñanza</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="{{ url_for('static',filename='estilos.css') }}" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #fff;">
        <div style="width:100%;">
            <i class="fa fa-graduation-cap" style="color: #428bca; font-size:1.5em;" aria-hidden="true"></i>
            <a class="navbar-brand ml-3 " href="#">Inicio</a>

            <span class="navbar-text ">Home</span>
            <span class=" float-right font-weight-light" style="color: #428bca;font-size: 1.5em;">Reconocimiento de Emociones en la Ense&ntilde;anza</span>
        </div>
    </nav>
    <div class="cuerpo text-center">
        <i class="fa fa-graduation-cap fa-5x" style="color: #fff;text-shadow: 1px 1px 1px #aaa;font-size: 10em;" aria-hidden="true"></i>

        <h1 class="h1 mb-3 font-weight-light">Reconocimiento de Emociones en la Ense&ntilde;anza</h1>

        <div class="div-role">
            <a id="roleEstudiante" class="btn btn-lg btn-primary btn-block" href="/alumno">Estudiante</a>
            <a id="roleProfesor" class="btn btn-lg btn-primary btn-block" href="/profesor">Profesor</a>
            <a id="roleConsulta" class="btn btn-lg btn-primary btn-block" href="/consulta">Consulta</a>
        </div>
    </div>
	<center>
	<div class="card w-50">
  <div class="card-body">
    <h5 class="card-title text-warning">Aviso</h5>
	
	    <p class="card-text">	Al hacer uso de esta aplicación se realizan grabaciones que se envían a Google Cloud para el procesamiento de imágenes en el caso del alumno y de audio en el caso del profesor.
			</p>
			<p class="card-text"> Las grabaciones se borran de nuestros servidores y la información se guarda de forma anónima. El uso que efectúa Google se hace bajo sus términos recogidos en las condiciones de uso de las aplicaciones Vision Cloud y Speech Cloud.
		 </p>
		 <p class="card-text">    Al acceder como alumno o como profesor se accepta el tratamiento anteriormente expuesto.

</p>
    
  </div>
</div>
	</center>
	
</br>
</br>
</br>
</br>
    <div class="fixed-bottom pie text-center">
        <div class="row mt-2 mb-1">
            <div class="col-sm">
                <p class=" text-muted font-weight-light">Trabajo de Fin de M&aacute;ster</p>
            </div>
            <div class="col-sm">
                <p class="text-muted font-weight-light">Jes&uacute;s Vicente Riquelme 2018</p>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>